<div class="">
    <div class="aHl"></div>
    <div id=":4q" tabindex="-1"></div>
    <div id=":qv" class="ii gt">
        <div id=":qw" class="a3s aXjCH msg-8664947712655623221"><u></u>
            <div class="m_-8664947712655623221full-padding" style="margin:0;padding:0">

                <table class="m_-8664947712655623221wrapper" style="border-collapse:collapse;table-layout:fixed;min-width:320px;width:100%;background-color:#f2f2f2"
                    cellpadding="0" cellspacing="0" role="presentation">
                    <tbody>
                        <tr>
                            <td>
                                <div role="banner">
                                    <div class="m_-8664947712655623221preheader" style="Margin:0 auto;max-width:560px;min-width:280px;width:280px;width:calc(28000% - 167440px)">
                                        <div style="border-collapse:collapse;display:table;width:100%">

                                            <div class="m_-8664947712655623221snippet" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:140px;width:140px;width:calc(14000% - 78120px);padding:10px 0 5px 0;color:#b8b8b8;font-family:Ubuntu,sans-serif">

                                            </div>

                                            <div class="m_-8664947712655623221webversion" style="display:table-cell;Float:left;font-size:12px;line-height:19px;max-width:280px;min-width:139px;width:139px;width:calc(14100% - 78680px);padding:10px 0 5px 0;text-align:right;color:#b8b8b8;font-family:Ubuntu,sans-serif">

                                            </div>

                                        </div>
                                    </div>

                                </div>
                                <div role="section">
                                    <div class="m_-8664947712655623221layout m_-8664947712655623221one-col m_-8664947712655623221fixed-width"
                                        style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                        <div class="m_-8664947712655623221layout__inner" style="border-collapse:collapse;display:table;width:100%;background-color:#ffffff">

                                            <div class="m_-8664947712655623221column" style="text-align:center;color:#60666d;font-size:14px;line-height:21px;font-family:sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">

                                                <div style="font-size:12px;font-style:normal;font-weight:normal;line-height:19px"
                                                    align="center">
                                                    <img class="m_-8664947712655623221gnd-corner-image m_-8664947712655623221gnd-corner-image-center m_-8664947712655623221gnd-corner-image-top CToWUd a6T"
                                                        style="border:0;display:block;height:auto;width:100%;max-width:900px"
                                                        alt="" width="600" src="https://ci3.googleusercontent.com/proxy/6qatb_uJ0yxxc6u7739OwO-iXGS2_qJeXpsCq6P6eeCbNtsAIO5C4LthU2IX4f2ol5UjrcixlVK5Nci0V5VcWmQhp_1PPVFEPy_StrvkCEQO8s3Bb2M1vXdKFog1noAWbS4=s0-d-e1-ft#http://i1.cmail19.com/ei/j/91/299/A4B/233648/csfinal/TitansSecretRedlogo.jpg"
                                                        tabindex="0">
                                                    <div class="a6S" dir="ltr" style="opacity: 0.01; left: 731px; top: 218px;">
                                                        <div id=":ue" class="T-I J-J5-Ji aQv T-I-ax7 L3 a5q" role="button"
                                                            tabindex="0" aria-label="Download attachment "
                                                            data-tooltip-class="a1V" data-tooltip="Download">
                                                            <div class="aSK J-J5-Ji aYr"></div>
                                                        </div>
                                                    </div>
                                                </div>

                                                <div style="Margin-left:20px;Margin-right:20px;Margin-top:20px">
                                                    <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                                </div>

                                                <div style="Margin-left:20px;Margin-right:20px">
                                                    <div>
                                                        <h2 style="Margin-top:0;Margin-bottom:0;font-style:normal;font-weight:normal;color:#43464a;font-size:17px;line-height:26px">Hi
                                                            <%= name %>,
                                                            <h2 style="Margin-top:16px;Margin-bottom:0;font-style:normal;font-weight:normal;color:#43464a;font-size:17px;line-height:26px">
                                                                You recently asked to reset your Titan's secret
                                                                password. To
                                                                reset your password, click below, follow the steps and
                                                                you will be ready to log in immediately.</h2>
                                                            <h3 style="Margin-top:16px;Margin-bottom:12px;font-style:normal;font-weight:normal;color:#43464a;font-size:16px;line-height:24px">&nbsp;</h3>
                                                    </div>
                                                </div>

                                                <div style="Margin-left:20px;Margin-right:20px">
                                                    <div class="m_-8664947712655623221btn m_-8664947712655623221btn--flat m_-8664947712655623221btn--large"
                                                        style="Margin-bottom:20px;text-align:center">
                                                        <u></u><a style="border-radius:4px;display:inline-block;font-size:14px;font-weight:bold;line-height:24px;padding:12px 24px;text-align:center;text-decoration:none!important;color:#ffffff!important;background-color:#f71505;font-family:sans-serif"
                                                            href="http://www.titanssecret.com.au/?code=<%= forgot_code %>," target="_blank"
                                                            data-saferedirecturl="http://www.titanssecret.com.au/">Reset
                                                            Password</a><u></u>
                                                    </div>
                                                </div>

                                                <div style="Margin-left:20px;Margin-right:20px">
                                                    <div>
                                                        <h2 style="Margin-top:16px;Margin-bottom:0;font-style:normal;font-weight:normal;color:#43464a;font-size:17px;line-height:26px">
                                                            If you did not request this change, then please disregard
                                                            this email. You may still use your original password.</h2>
                                                        <h3 style="Margin-top:16px;Margin-bottom:12px;font-style:normal;font-weight:normal;color:#43464a;font-size:16px;line-height:24px">&nbsp;</h3>
                                                    </div>
                                                </div>
                                                <div style="Margin-left:20px;Margin-right:20px">
                                                    <div style="line-height:10px;font-size:1px">&nbsp;</div>
                                                </div>

                                                <div style="Margin-left:20px;Margin-right:20px;Margin-bottom:24px">
                                                    <div>
                                                        <p style="Margin-top:0;Margin-bottom:0">Thanks for
                                                            participating,<br>
                                                            <strong>Team Titan's Secret</strong></p>
                                                    </div>
                                                </div>

                                            </div>

                                        </div>
                                    </div>


                                    <div role="contentinfo">
                                        <div class="m_-8664947712655623221layout m_-8664947712655623221email-footer"
                                            style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                            <div class="m_-8664947712655623221layout__inner" style="border-collapse:collapse;display:table;width:100%">

                                                <div class="m_-8664947712655623221column m_-8664947712655623221wide"
                                                    style="text-align:left;font-size:12px;line-height:19px;color:#b8b8b8;font-family:Ubuntu,sans-serif;Float:left;max-width:400px;min-width:320px;width:320px;width:calc(8000% - 47600px)">
                                                    <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">

                                                        <div style="font-size:12px;line-height:19px">
                                                            <div><a href="http://www.titanssecret.com.au" target="_blank"
                                                                    data-saferedirecturl="http://www.titanssecret.com.au/">www.titanssecret.com.au</a></div>
                                                        </div>
                                                        <div style="font-size:12px;line-height:19px;Margin-top:18px">
                                                            <div>You are receiving this email as you have registered as
                                                                a user of Titan's Secret&nbsp;</div>
                                                        </div>

                                                    </div>
                                                </div>

                                                <div class="m_-8664947712655623221column m_-8664947712655623221narrow"
                                                    style="text-align:left;font-size:12px;line-height:19px;color:#b8b8b8;font-family:Ubuntu,sans-serif;Float:left;max-width:320px;min-width:200px;width:320px;width:calc(72200px - 12000%)">
                                                    <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">

                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                        <div class="m_-8664947712655623221layout m_-8664947712655623221one-col m_-8664947712655623221email-footer"
                                            style="Margin:0 auto;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px);word-wrap:break-word;word-break:break-word">
                                            <div class="m_-8664947712655623221layout__inner" style="border-collapse:collapse;display:table;width:100%">

                                                <div class="m_-8664947712655623221column" style="text-align:left;font-size:12px;line-height:19px;color:#b8b8b8;font-family:Ubuntu,sans-serif;max-width:600px;min-width:320px;width:320px;width:calc(28000% - 167400px)">
                                                    <div style="Margin-left:20px;Margin-right:20px;Margin-top:10px;Margin-bottom:10px">
                                                        <div style="font-size:12px;line-height:19px">
                                                            <a style="text-decoration:underline;color:#b8b8b8" href="http://www.titanssecret.com.au/"
                                                                target="_blank" data-saferedirecturl="http://www.titanssecret.com.au/">Unsubscribe</a>
                                                        </div>
                                                    </div>
                                                </div>

                                            </div>
                                        </div>
                                    </div>
                                    <div style="line-height:40px;font-size:40px">&nbsp;</div>
                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <img style="overflow:hidden;display:block!important;height:1px!important;width:1px!important;border:0!important;margin:0!important;padding:0!important"
                    src="https://ci6.googleusercontent.com/proxy/taQhYtSm6jahtgt3js2zW1XgEWhpWtjlQzc26OdIlN3zGUcOwUHqqeJLZaGdgP3-uvBJbpM6YhQdhwjd9llF-V44-KIsn7PhDy6tOOih0ebe=s0-d-e1-ft#https://elicitengineering.cmail19.com/t/j-o-nktkjlt-l/o.gif"
                    width="1" height="1" border="0" alt="" class="CToWUd">
                <div class="yj6qo"></div>
                <div class="adL">
                </div>
            </div>
            <div class="adL">


            </div>
        </div>
    </div>
    <div id=":4u" class="ii gt" style="display:none">
        <div id=":4v" class="a3s aXjCH undefined"></div>
    </div>
    <div class="hi"></div>
</div>