<div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-center m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-big"
    style="font-size:25px;text-align:center">
    ORDER CONFIRMATION
</div>
<br>
<div>
    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-center m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder m_-4904054520529085693m_5712782259546021053m_-3523226219421901595smallFramePadding"
        style="width:150px;margin:auto;font-size:15px;text-align:center;border:1px solid grey;padding:8px">ORDER
        NUMBER<div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-bold m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium"
            style="padding-top:5px;font-weight:bold;font-size:15px">Hkc3wSttW</div>
    </div><br>
    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-center m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder m_-4904054520529085693m_5712782259546021053m_-3523226219421901595smallFramePadding"
        style="width:150px;margin:auto;font-size:15px;text-align:center;border:1px solid grey;padding:8px">TOTAL<div
            class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-bold m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium"
            style="padding-top:5px;font-weight:bold;font-size:15px">$ 94</div>
    </div><br>
    <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595contentPadding" style="padding-top:6px;width:100%;page-break-inside:avoid;white-space:nowrap;padding-right:50px;padding-left:50px">
        <tbody>
            <tr>
                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-left m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder m_-4904054520529085693m_5712782259546021053m_-3523226219421901595smallFramePadding"
                    style="width:50%;font-size:15px;text-align:left;border:1px solid grey;padding:8px">
                    <table style="padding:10px;page-break-inside:avoid;white-space:nowrap" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595customTable">
                        <tbody>
                            <tr>
                                <td colspan="2" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595divTitle"
                                    style="vertical-align:top;padding-bottom:10px;font-weight:bold;font-family:'Aspira Black'">SHOP
                                    INFORMATION</td>
                            </tr>
                            <tr>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595textLineHeight m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="width:40%;vertical-align:top">Name</td>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595textLineHeight m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="white-space:normal;vertical-align:top">Organic Meals Delivered </td>
                            </tr>
                            <tr>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">Phone</td>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">Maria </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder m_-4904054520529085693m_5712782259546021053m_-3523226219421901595smallFramePadding"
                    style="width:50%;font-size:15px;text-align:right;border:1px solid grey;padding:8px">
                    <table style="padding:10px;page-break-inside:avoid;white-space:nowrap" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595customTable">
                        <tbody>
                            <tr>
                                <td colspan="2" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595divTitle"
                                    style="vertical-align:top;padding-bottom:10px;font-weight:bold;font-family:'Aspira Black'">YOUR
                                    INFORMATION</td>
                            </tr>
                            <tr>
                                <td style="width:40%">Name</td>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">Kriti Uttam </td>
                            </tr>
                            <tr>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595textLineHeight m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">Address</td>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595textLineHeight m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="white-space:normal;vertical-align:top">
                                    <div>15 Nazarene Crescent, Schofields<br></div>
                                    <div></div>
                                    <div>2138 Sydney,NSW</div>
                                </td>
                            </tr>
                            <tr>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">Phone</td>
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                    style="vertical-align:top">0457661994</td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595contentPadding" style="padding-top:6px;width:100%;page-break-inside:avoid;white-space:nowrap;padding-right:50px;padding-left:50px">
        <tbody>
            <tr>
                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-left m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595full-width m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder"
                    style="padding:-1px;font-size:15px;text-align:left;width:100%;border:1px solid grey">
                    <div style="display:inline-block;width:45%;padding:15px">
                        <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595customTable"
                            style="page-break-inside:avoid;white-space:nowrap">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595divTitle"
                                        style="vertical-align:top;padding-bottom:10px;font-weight:bold;font-family:'Aspira Black'">ORDER
                                        INFORMATION</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="width:60%;vertical-align:top">Order number</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Hkc3wSttW</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Payment method</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">creditcard</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Order date</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Sun Sep 03 2017</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Delivery date</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Tue Sep 12 2017</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595contentPadding" style="padding-top:6px;width:100%;page-break-inside:avoid;white-space:nowrap;padding-right:50px;padding-left:50px">
        <tbody>
            <tr>
                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-left m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595full-width m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder"
                    style="padding:-1px;font-size:15px;text-align:left;width:100%;border:1px solid grey">
                    <div style="display:inline-block;width:45%;padding:15px">
                        <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595customTable"
                            style="page-break-inside:avoid;white-space:nowrap">
                            <tbody>
                                <tr>
                                    <td colspan="2" class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595divTitle"
                                        style="vertical-align:top;padding-bottom:10px;font-weight:bold;font-family:'Aspira Black'">DELIVERY
                                        INFORMATION</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="width:60%;vertical-align:top">Do you live in a secure building ?</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">No<br>Details </td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Authority to leave if not at home ?</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">No</td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Details to place out of sun</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top"></td>
                                </tr>
                                <tr>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Other information</td>
                                    <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595alignTop"
                                        style="vertical-align:top">Please ring the doorbell </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </td>
            </tr>
        </tbody>
    </table>
    <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595contentPadding" style="padding-top:6px;width:100%;page-break-inside:avoid;white-space:nowrap;padding-right:50px;padding-left:50px">
        <tbody>
            <tr>
                <td class="m_-49040545 20529085693m_5712782259546021053m_-3523226219421901595float-left m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-medium m_-4904054520529085693m_5712782259546021053m_-3523226219421901595full-width m_-4904054520529085693m_5712782259546021053m_-3523226219421901595frameBorder"
                    style="padding:-1px;font-size:15px;text-align:left;width:100%;border:1px solid grey">
                    <table style="padding:15px;width:100%;padding-right:40px;page-break-inside:avoid;white-space:nowrap">
                        <tbody>
                            <tr class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595full">
                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595divTitle"
                                    style="vertical-align:top;padding-bottom:10px;font-weight:bold;font-family:'Aspira Black'">YOUR
                                    ORDER</td>
                            </tr>
                            <tr>
                                <td>
                                    <table class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595full-width m_-4904054520529085693m_5712782259546021053m_-3523226219421901595tableNoVisibleCells m_-4904054520529085693m_5712782259546021053m_-3523226219421901595tableColoredRows"
                                        cellspacing="0" cellpadding="0" style="page-break-inside:avoid;white-space:nowrap;width:100%;border-spacing:2px;border-width:0">
                                        <tbody>
                                            <tr>
                                                <td width="60%" style="height:50px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-small"
                                                        style="font-size:12px"></div>
                                                </td>
                                                <td width="10%" style="height:50px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-small m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="font-size:12px;text-align:right">Qty</div>
                                                </td>
                                                <td width="15%" style="height:50px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-small m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="font-size:12px;text-align:right">Unit Price</div>
                                                </td>
                                                <td width="15%" style="height:50px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-size-small m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="font-size:12px;text-align:right">Total</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="word-wrap:break-word;white-space:normal">
                                                    <div style="margin-top:10px">Atlantic Salmon </div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">2</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 12</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 24</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="word-wrap:break-word;white-space:normal">
                                                    <div style="margin-top:10px">Eye Fillet Medallions </div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">2</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 13</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 26</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="word-wrap:break-word;white-space:normal">
                                                    <div style="margin-top:10px">Hoki fish </div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">2</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 12</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 24</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td style="word-wrap:break-word;white-space:normal">
                                                    <div style="margin-top:10px">Grilled Barrumandi </div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">2</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 5</div>
                                                </td>
                                                <td>
                                                    <div style="float:right;padding-top:10px">$ 10</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="padding-top:20px;padding-bottom:10px;height:40px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="text-align:right">Sub total</div>
                                                </td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="padding-top:20px;padding-bottom:10px;height:40px" colspan="2">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="text-align:right">$ 84</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="height:40px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="text-align:right">Delivery Charges</div>
                                                </td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="height:40px" colspan="2">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right"
                                                        style="text-align:right">$ 10</div>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td></td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="height:40px">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-bold"
                                                        style="font-weight:bold;text-align:right">Total Order
                                                        Amount</div>
                                                </td>
                                                <td class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595orderAmounts"
                                                    style="height:40px" colspan="2">
                                                    <div class="m_-4904054520529085693m_5712782259546021053m_-3523226219421901595float-right m_-4904054520529085693m_5712782259546021053m_-3523226219421901595font-bold"
                                                        style="font-weight:bold;text-align:right">$ 94</div>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
</div>